# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GeekBrains\cloud-storage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
*.iws
*.iml
*.ipr
target/
/out/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn