<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:component-scan base-package="Lesson_1" />-->
    <bean id="doctor" class="PhysicianDoctor"></bean>

    <bean id="room" class="Room">
        <property name="doctor">
            <ref bean="doctor" />
        </property>
    </bean>

    <bean id="medicalHistory" class="MedicalHistory"></bean>

    <bean id="medicalRecord" class ="MedicalRecord">
        <property name="medicalHistory">
            <ref bean="medicalHistory" />
        </property>
    </bean>

</beans>